---

---

<div class="relative h-50 md:h-90"> 
  <img src="/fondo-parcial.jpg" class="absolute h-full w-full object-cover" alt="Imagen de fondo de contacto" loading="lazy">
</div>
<section id="quienes-somos">
  <div class="container max-w-6xl mx-auto px-4 my-30 md:my-50 mt-10 md:mt-30 text-center">
    <h1 class="text-center text-[#002147] font-bold text-3xl md:text-4xl mb-5">Quiénes Somos</h1>
    <p class="max-w-xl m-auto text-gray-500 text-justify last-justify" style="text-align-last: center;">Empresa 100% mexicana dedicada a soluciones de <strong>seguridad</strong> electrónica. Instalación y mantenimiento de sistemas de cámaras de videovigilancia, CCTV, Control de Acceso, Alarmas e Internet. Brindamos <strong>confianza</strong>, <strong>calidad</strong> y tecnología de punta.</p>
    <div class="grid grid-cols-1 md:grid-cols-2 mt-8 gap-20 md:gap-4">
      <div class="mt-8 md:mt-10">
        <h2 class="text-[#002147] text-xl md:text-2xl font-bold">Misión</h2>
        <p class="max-w-sm mx-auto text-gray-500 text-justify" style="text-align-last: center;">Brindar <strong>soluciones</strong> de seguridad innovadoras y <strong>confiables</strong> con servicio profesional.</p>
      </div>
      <div>
        <h2 class="text-[#002147] text-xl md:text-2xl font-bold md:mt-10">Visión</h2>
        <p class="max-w-sm mx-auto text-gray-500 text-justify" style="text-align-last: center;">Ser <strong>líderes</strong> regionales en instalación y mantenimiento de sistemas de <strong>seguridad</strong>.</p>
      </div>
    </div>
  </div>
</section>
