---
 
---

<section id="banner" class="bg-image bg-cover bg-[left top] h-[450px] md:h-[600px] flex items-end justify-center text-white relative" style="background-image: url('/fondo-parcial.jpg');">
  <div class="absolute inset-0 bg-black opacity-50"></div>
  <div class="container max-w-6xl p-2 pb-15 z-3">
    <h1 class="font-bold text-2xl md:text-4xl mb-1">Protecci칩n inteligente <br>para tu hogar y negocio</h1>
    <p class="text-md md:text-lg" style="text-shadow: 1px 1px 1px black;">Instalaci칩n de c치maras, alarmas,<br> videoporteros y servicio de internet</p>
    <div class="my-10 flex items-center gap-2">
      <a href="contacto" class="py-2 px-4 bg-[#ff4b5c] border-[#ff4b5c] hover:bg-red-400 rounded border border-2 hover:border-red-400 font-semibold transition-all duration-300">Cont치ctanos</a>
      <a href="servicios" class="py-2 px-4 rounded font-semibold border border-2 hover:bg-[#002147] transition-all duration-300">Nuestros servicios</a>
    </div>
  </div>
</section> 
