---
import Layout from '../layouts/Layout.astro';
import Header from '../components/sections/Header.astro';
import Banner from '../components/sections/Banner.astro';
import Services from '../components/sections/Services.astro';
import Gallery from '../components/sections/Gallery.astro';
// import Contact from '../components/sections/Contact.astro';
import Footer from '../components/sections/Footer.astro';
import Contactanos from '../components/sections/Contactanos.astro';
---

<Layout>
<main>
  <Header />
  <Banner />
  <section class="container mx-auto max-w-2xl text-center my-25 mb-10">
    <h1 class="text-lg md:text-3xl text-200-gray font-semibold px-2">
      Protegemos lo que más importa con tecnología, <span class="text-red-400 underline">calidad</span> y <span class="text-red-400 underline">confianza.</span>
    </h1>
  </section>
  <Services />
  <Gallery />
  <Contactanos />
  <Footer />
</main>
</Layout>
