---
import Layout from '../layouts/Layout.astro';
import Header from '../components/sections/Header.astro';
import Footer from '../components/sections/Footer.astro';
---

<Layout>
<Header />
<section id="alarmas">
  <div class="container max-w-6xl mx-auto px-4 my-30 md:my-50 mt-10 md:mt-30 text-center">
    <h1 class="text-center text-[#002147] font-bold text-3xl md:text-4xl mb-5">Alarmas Inteligente</h1>
    servicios
  </div>
</section>
<section id="camaras">
  <div class="container max-w-6xl mx-auto px-4 my-30 md:my-50 mt-10 md:mt-30 text-center">
    <h1 class="text-center text-[#002147] font-bold text-3xl md:text-4xl mb-5">Camaras de Seguridad</h1>
    servicios
  </div>
</section>
<section id="videoporteros">
  <div class="container max-w-6xl mx-auto px-4 my-30 md:my-50 mt-10 md:mt-30 text-center">
    <h1 class="text-center text-[#002147] font-bold text-3xl md:text-4xl mb-5">Video Porteros</h1>
    servicios
  </div>
</section>
<section id="internet">
  <div class="container max-w-6xl mx-auto px-4 my-30 md:my-50 mt-10 md:mt-30 text-center">
    <h1 class="text-center text-[#002147] font-bold text-3xl md:text-4xl mb-5">Internet</h1>
    servicios
  </div>
</section>
<Footer />
</Layout>
