---
import Card from '../components/Card.astro';
---

<section id="quienes-somos">
  <div class="container mx-auto p-2 text-center">
    <Card>
      <h1>Quiénes somos</h1>
      <p>Empresa 100% mexicana dedicada a soluciones de seguridad electrónica. Brindamos confianza, calidad y tecnología de punta.</p>
      <h2>Misión</h2>
      <p>Brindar soluciones de seguridad innovadoras y confiables con servicio profesional.</p>
      <h2>Visión</h2>
      <p>Ser líderes regionales en instalación y mantenimiento de sistemas de seguridad.</p>
    </Card>
  </div>
</section>
