---
import Card from '../components/Card.astro';
---

<section id="quienes-somos">
  <div class="container max-w-5xl mx-auto px-2 py-10 py-20 text-center">
    <Card>
      <h1 class="text-[#002147] font-bold text-2xl md:text-3xl mb-4">Quiénes somos</h1>
      <p class="max-w-xl m-auto">Empresa 100% mexicana dedicada a soluciones de <strong>seguridad</strong> electrónica. Brindamos <strong>confianza</strong>, <strong>calidad</strong> y tecnología de punta.</p>
      <div class="grid grid-cols-1 md:grid-cols-2 mt-8 gap-20 md:gap-4">
        <div class="mt-8 md:mt-10">
          <h2 class="text-[#002147] text-xl md:text-2xl font-bold">Misión</h2>
          <p class="max-w-sm mx-auto" style="text-wrap-style: balance;">Brindar <strong>soluciones</strong> de seguridad innovadoras y <strong>confiables</strong> con servicio profesional.</p>
        </div>
        <div>
          <h2 class="text-[#002147] text-xl md:text-2xl font-bold md:mt-10">Visión</h2>
          <p class="max-w-sm mx-auto" style="text-wrap-style: balance;">Ser <strong>líderes</strong> regionales en instalación y mantenimiento de sistemas de <strong>seguridad</strong>.</p>
        </div>
      </div>
    </Card>
  </div>
</section>
