---
import Card from './Card.astro';
---

<section id="contacto">
  <div class="container mx-auto p-2 text-center">
    <Card>
      <h1>Contáctanos</h1>
      <!-- formulario de contacto -->
    </Card>
  </div>
</section>
