---

---
<iframe src="https://www.google.com/maps?q=Héroes+de+Chapultepec+63,+Usmajac,+Jalisco&amp;output=embed" width="100%" height="500" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
<footer class="bg-[#002147] py-10 text-white">
  <div class="contact mx-auto p-2 text-center">
    © 2025 TECNOSC | Diseñado por Gabino Larios Vargas
  </div>
</footer>
