---

---


<header class="bg-[linear-gradient(90deg,#002147,#004aad)] text-white py-4 px-2 text-center sticky top-0 z-[1000]">
  <div class="flex items-center justify-center gap-2">
    <img src="/logo.png" alt="Logo" class="bg-white w-30 p-2 rounded shadow-lg" />
    <h1>TECNOSC</h1>
  </div>
  <nav class="bg-[#002147] py-1">
    <ul class="flex justify-around list-none m-0 py-2 text-md">
      <li><a href="index.html" class="text-white no-underline px-6 py-2 transition-colors duration-300 rounded-[10px] hover:bg-[#ffb400] hover:text-[#002147] focus:outline-none focus:ring-2 focus:ring-white">Inicio</a></li>
      <li><a href="quienes-somos.html" class="text-white no-underline px-6 py-2 transition-colors duration-300 rounded-[10px] hover:bg-[#ffb400] hover:text-[#002147] focus:outline-none focus:ring-2 focus:ring-white">Quiénes somos</a></li>
      <li><a href="mision.html" class="text-white no-underline px-6 py-2 transition-colors duration-300 rounded-[10px] hover:bg-[#ffb400] hover:text-[#002147] focus:outline-none focus:ring-2 focus:ring-white">Misión</a></li>
      <li><a href="vision.html" class="text-white no-underline px-6 py-2 transition-colors duration-300 rounded-[10px] hover:bg-[#ffb400] hover:text-[#002147] focus:outline-none focus:ring-2 focus:ring-white">Visión</a></li>
      <li><a href="contacto.html" class="text-white no-underline px-6 py-2 transition-colors duration-300 rounded-[10px] hover:bg-[#ffb400] hover:text-[#002147] focus:outline-none focus:ring-2 focus:ring-white">Contacto</a></li>
    </ul>
  </nav>
</header>
