---
const href = Astro.props.href || "#";
const target = Astro.props.target || "";
---

<a href={href} target={target} class="inline-block font-bold shadow-lg rounded-xl transition duration-300 ease-in-out bg-[#ffb400] text-white hover:bg-[#e0a000] hover:text-white px-4 py-2">
  <slot />
</a>

