---
import Card from "./Card.astro"
---

<section id="servicios">
  <div class="container mx-auto p-2">
    <Card>
      <h1 class="text-center">Servicios</h1>
      <div class="grid grid-cols-1 md:grid-cols-2">
        <!-- animación con delay -->
        <ul>
          <li>
            <!-- icono -->
            Alarmas inteligentes
          </li>
          <li>
            <!-- icono -->
            Cámaras de video vigilancia
          </li>
          <li>
            <!-- icono -->
            Video porteros
          </li>
          <li>
            <!-- icono -->
            Internet
          </li>
        </ul>
        <div>
          <!-- imagen -->
        </div> 
      </div>
    </Card>
  </div>
</section>
