---
import "../styles/global.css";
---
<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/ico" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>Tecnosc | Seguridad total</title>
	</head>
	<body class="bg-[#f5f7fa]">
		<slot />
	</body>
</html>


<style is:global>
  
@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins-Thin.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins-ExtraBold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

  html {
    scroll-behavior: smooth;
  }

  body {
    font-family: 'poppins', system-ui, sans-serif;
    color: #333
  }

strong {
  font-weight: 600;
}

  [id] {
    scroll-margin-top: 220px;
  }

  @media (max-width: 767px) {
  [id] {
    scroll-margin-top: 50px;
  }
  }

.swiper {
  padding: 0 10px 50px;
  user-select: none;
}

.swiper-button-next, .swiper-button-prev {
  background-color: #002147;
  border-radius: 50%;
  box-shadow: 0 4px 2px rgba(0, 0, 0, 0.1);
  height: 40px!important;
  width: 40px!important;
}

.swiper-button-next::after, .swiper-button-prev::after {
  font-size: 15px!important;
  color: white;
  font-weight: bold;
}


.swiper-button-next {
  right: 0;
}

.swiper-button-prev {
  left: 0
}

.swiper-pagination-bullet {
  opacity: 1!important;
  background: #002147!important
}

.swiper-pagination-bullet-active {
  background: #004aad!important
}

</style>
